// Tipografia
$fuente-principal: 'Montserrat', sans-serif;

// Colores
$verde:    #4cb8b3;
$rosa:     #F53756;
$amarillo: #FEF46D;
$morado:   #752F97;
$negro:    #000000;
$blanco:   #FFFFFF;
$overlay:  linear-gradient(150deg, rgba(15,0,36,0.8197479675463936) 0%, rgba(53,9,121,0.6432773793110995) 35%, rgba(0,54,255,1) 100%);  
// Media queries sizes

$telefono: 480px;
$tablet: 768px;
$desktop: 992px;
$desktopXL: 1200px;
